* {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
  }

  .bg-image {
    background-image: url("iFdR.jpg");
    background-color: black;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: contain; /* Resize the background image to be conained in the container */
  }

  #placeholder {
    height: 200px;
    width: 200px;
    padding: 30px;
    margin: auto;
    border: 2px solid red;
    border-radius: 10px;  
    font-size:100px;
  }
  
  #fullresult {
    height: 50px;
    width: 50%;
    padding: 12px;
    margin: auto;
    border: 2px solid red;
    border-radius: 10px;  
    font-size:20px;
  }

  #history {
    white-space: pre-line;
  }